body {background-color: #FAF9F0;
    }

.barra-superior {
    width: auto;
    height: 60px;
    background-color: #894d69;
    color:white;
    display:flex;
    justify-content: end;
    font-family: Elephant;
    align-items:center;
    font-size: 25px;
}
/*button {
    background-color:hotpink}
*/
.boton-que {
    background-color: #894d69;
    border: none;
    text-transform: uppercase;


}

.botonwhat-text{
    color:white;
    font-family: Elephant;
    font-size: 12px;
}

.boton-quienes {
    background-color: #894d69;
    border: none;
    text-transform: uppercase;


}
button {
    transition-duration: 0.4s;

}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.fa-bug{font-size: xx-large
  }


.botonwho-text {
    color: white;
    font-family: Elephant;
    font-size: 12px;}

.nombre-empresa {
    font-weight:bold;
    width: 1000px;
    display:flex;
    justify-content:left;
}
