@font-face {
    font-family: "Elephant";
    src: url("fonts/ELEPHNT.TTF") format("truetype"),
    url("fonts/ELEPHNTI.TTF") format("truetype");
    font-family: "franklin gothic demi cont";
    src: url("fonts/FRADMCN.TTF") format("truetype");

}
body {
   /* margin: 50px 50px 50px 50px;*/
    margin: auto;
    background-color: #eedbef;
}
h1{
    color:#EE2677;
}
h2{
    font-size: 40px;
}
.Campanias {
    height: 250px;
    width: 250px;
    margin: 60px;
    padding: 10px;
    overflow: hidden;
}

.servicios {

    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}
.parrafo{
    font-size: 20px;
    margin: 50px;
}
.hacer{
    display: flex;
    text-align: center;
    margin: 50px;
}
.cuerpo{
    background-attachment: fixed;
    background: url("img/fotoslavandas.jpg");
    background-position: 250px 250px;
    display:flex;
    font-family: Elephant;
    align-items:center;
    font-size: 25px;
    padding: 0px;
    margin: 0px 0px 0px 0px;

}
