@font-face {
    font-family: "Elephant";
    src: url("fonts/ELEPHNT.TTF") format("truetype"),
    url("fonts/ELEPHNTI.TTF") format("truetype");
    font-family: "franklin gothic demi cont";
    src: url("fonts/FRADMCN.TTF") format("truetype");

}

h1{
    color:#EE2677;
}

h1{
    font-family: Elephant, serif;
}
button {
    transition-duration: 0.4s;


}
button:hover {
    background-color: lightpink;
    color: white;
}
.menu {
    height: 60px;
    background-color: #894d69;
    color:white;
    display:flex;
    justify-content: space-between;
    font-family: Elephant;
    align-items:center;
    font-size: 25px;

}
body{
    margin: auto ;
}
.fa-bug {
    font-size: xx-large;
    padding: 20px;
}

.boton-que {
    background-color: #894d69;
    border: none;
    text-transform: uppercase;
    justify-self: flex-end;

}
.botonwhat-text{
    color:white;
    font-family: Elephant;
    text-decoration: none;
    font-size: 13px;

}
.boton-quienes {
    background-color: #894d69;
    border: none;
    text-transform: uppercase;
    display: flex;

}
.zonaBotones{
    padding: 10px;
    display: flex;
}
.botonwho-text {
    color: white;
    font-family: Elephant;
    font-size: 13px;
}

.infoCoders{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}
.nuestroGrupo{
    margin: 30px;
}
.parrafo{
    font-family: "Franklin Gothic Demi Cond", Serif;
    color: seagreen;
    font-weight: bold;
    font-size: 20px;
    justify-content: flex-end;

}

h2{
    font-family: Elephant, serif;
    color: #EE2677;

}

.foto{
    height: 250px;
    width: 250px;
    margin: 60px;
    padding: 10px;
    border-radius: 800px;
    overflow: hidden;
}

.cargo{
    color: black;
    font-family: Elephant, serif;

}
.nombre-empresa{
    text-decoration: none;
    color: white;
}

.nombre{
    font-family: Elephant, serif;
    font-size: 25px; }
.etiqueta{
    font-size: xx-large;
}
i {
    font-size: xx-large;
}
/* *{
    background-color:#FAF9F0;
}*/
.fa-github {
    color: black;

}


.menu.burger{
    padding: 20px;
}
.Coder-4{
    align-self: flex-end;
}
@media (max-width: 548px) {
    .menu a {
        display: none;
    }
}
@media (min-width: 548px) {
    .menu.burger {
        display: none;
    }


}





