@font-face {
    font-family: "Elephant";
    src: url("fonts/ELEPHNT.TTF") format("truetype"),
    url("fonts/ELEPHNTI.TTF") format("truetype");
}

h1{
    color:#EE2677;
}

h1{
    font-family: Elephant, serif;
}

.infoCoders{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;

}

p{
    font-family: "Franklin Gothic Book", serif;
    color: #5A9367;
    font-size: 20px;

}

h2{
    font-family: Elephant, serif;
    color: #EE2677;

}

.foto{
    height: 250px;
    width: 250px;
    margin: 60px;
    padding: 10px;
    border-radius: 800px;
    overflow: hidden;
}

.cargo{
    color: #f49ac1;
    font-family: Elephant, serif;

}
.nombre{
    font-family: Elephant, serif;
    font-size: 25px; }
.etiqueta{
    font-size: xx-large;
}
i {v
    font-size: xx-large;
}
*{
    background-color:#FAF9F0;
}v
.fa-github {
    color: black;
}
.fa-bug {
    font-size: larger;
    color:black;
}
.menu {
    background-color:  #894d69;
    background-size: 800px;
}
.menu.burger{
    padding: 20px;
}
.Coder-4{
    align-self: flex-end;
}
@media (max-width: 548px) {
    .menu a {
        display: none;
    }
}
@media (min-width: 548px) {
    .menu.burger {
        display: none;
    }


}





